<h4>Developers Guide</h4>
<ul class="toc">
<li><a href="{{ site.path }}/developer/index.html">Overview</a></li>
<li><a href="{{ site.path }}/developer/server.html">Server code structure</a></li>
<li class="lisub"><a href="{{ site.path }}/developer/updates.html">Installation & Updates</a></li>   
<li class="lisub"><a href="{{ site.path }}/developer/api.html">API</a></li>   
<li><a href="{{ site.path }}/developer/database.html">Database structure</a></li>
<li><a href="{{ site.path }}/developer/themes.html">User Interface themes</a></li>
</ul>


