<!DOCTYPE html>
<html>
    {% include header.html %}
    <body id="body">
        {% include navbar.html %}

        <div class="container">
            <div class="row">                
                <div class="col-sm-8">                   
                    {{ content }}           

                </div>
                <div class="col-sm-3 pull-right">
                    <h3> Table of Contents </h3>
                    {% include contents.user.html %}
                    {% include contents.developer.html %}
                </div>
            </div>            
        </div>
    </body>
</html>
